# Sample Chi Square Test

In [1]:
from scipy.stats import chisquare

In [2]:
# number of students select i type of ice-cream
observed = [25, 30, 20, 25] # [20, 50] -> obse

expected = [25, 25, 25, 25] # [35, 35] -> equal


chi2, p = chisquare(observed, expected)

print(f"Chi-square Value : {chi2}")
print(f"P-value : {p}")


if p < 0.05:
    print("We reject the idea that students like all flavours equally.")
else:
    print("We do not reject the idea students like all flavours")

Chi-square Value : 2.0
P-value : 0.5724067044708798
We do not reject the idea students like all flavours

# Gender - Mode of Study

In [3]:
from scipy.stats import chi2_contingency

table = [[20, 30], # male 20 prefer Online, 30 prefer Offline
         [25, 25]] # female 25 Online, 25 prefer offline

ch2, p_value, dof, e = chi2_contingency(table)

print(f"Chi-square{ch2}")
print(f"P-value {p_value}")
print(f"Degrees of Freedom {dof}")
print(f"Expected outcome {e}")

Chi-square0.6464646464646464
P-value 0.4213795037428696
Degrees of Freedom 1
Expected outcome [[22.5 27.5]
 [22.5 27.5]]

In [7]:
import pandas as pd
data = {'Age': [10, 31, 32, 14, 54, 13], 'status': ['single', 'married', 'married', 'single', 'married', 'single']}
df = pd.DataFrame(data)
df.head()

   Age   status
0   10   single
1   31  married
2   32  married
3   14   single
4   54  married

In [12]:
bins = pd.qcut(df['Age'], q=3, labels=['Teen', 'Young Adult', 'Adult'])
df['category'] = bins
df

   Age   status     category
0   10   single         Teen
1   31  married  Young Adult
2   32  married        Adult
3   14   single  Young Adult
4   54  married        Adult
5   13   single         Teen