In [1]:
import pandas as pd
import numpy as np

In [13]:
data = {
    'Tamil':[94, 42, 69, np.nan],
    'English': [35, 66, np.nan, 32],
    'Maths': [97, np.nan, np.nan, 86]
}
df = pd.DataFrame(data)
df

   Tamil  English  Maths
0   94.0     35.0   97.0
1   42.0     66.0    NaN
2   69.0      NaN    NaN
3    NaN     32.0   86.0

In [ ]:
df.cou

In [19]:
df['Tamil'].list

AttributeError: Can only use the '.list' accessor with 'list[pyarrow]' dtype, not float64.

In [4]:
df.isnull().sum()

Tamil      1
English    1
Maths      2
dtype: int64

In [5]:
df_droped = df.dropna()
df_droped

   Tamil  English  Maths
0   94.0     35.0   97.0

In [6]:
df_fill = df.fillna(df.mean(numeric_only=True))
df_fill

       Tamil    English  Maths
0  94.000000  35.000000   97.0
1  42.000000  66.000000   91.5
2  69.000000  44.333333   91.5
3  68.333333  32.000000   86.0

In [7]:
from sklearn.preprocessing import LabelEncoder

colors = ['Red', 'Blue', 'Green', 'Red', 'Blue']

le = LabelEncoder()

encoded = le.fit_transform(colors)

print(encoded)
print(le.classes_)

[2 0 1 2 0]
['Blue' 'Green' 'Red']

In [8]:
df = pd.DataFrame({'Color': ['Red', 'Blue', 'Green']})

enc = pd.get_dummies(df, columns=['Color'])

print(enc)

   Color_Blue  Color_Green  Color_Red
0       False        False       True
1        True        False      False
2       False         True      False

In [9]:
df[:5]

   Color
0    Red
1   Blue
2  Green

In [10]:
import io
import sys

# Capture info() output to a string buffer
buffer = io.StringIO()
df.info(buf=buffer)
s = buffer.getvalue()

# Split by lines and skip header rows
lines = s.split('\n')
# Print from line 5 onwards (skipping the header section)
print('\n'.join(lines[5:]))

 0   Color   3 non-null      object
dtypes: object(1)
memory usage: 156.0+ bytes